* {
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: rgb(0, 0, 0);
  line-height: normal;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.sombra-dark, .footer-listas ul li a:hover {
  text-shadow: 0px 0px 1px rgb(0, 0, 0);
}

.sombra-light, .titulo-contacto h1, .subtitulo-historia-canciones, .subtitulo-historia, .introHistoria h1, .albumes-item a p:hover, .titulo-albumes, .index-contenido h1 {
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

/*FOOTER*/
.footer {
  background-color: white;
  padding: 60px 20px 20px 20px;
  width: 100%;
}
.footer-listas {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0px;
}
.footer-listas h3 {
  color: black;
  font-size: 20px;
  text-decoration: underline;
  text-align: left;
  font-weight: bold;
  transition: 0.3s;
}
.footer-listas h3:hover {
  transform: translate(0, -5px);
}
.footer-listas li {
  justify-content: space-between;
}
.footer-listas ul li a {
  text-align: left;
  transition: 0.1s;
}
.footer-listas img:hover {
  transform: translate(0, -10px);
}
.footer-listas-internas {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-listas-internas h4 {
  font-size: 15px;
  text-align: left;
  color: black;
  margin: 0;
  font-weight: bold;
  transition: 0.3s;
}
.footer-listas-internas-ig {
  width: 70px;
  border-radius: 20px;
  transition: 0.3s;
}
.footer-listas-internas-sp {
  width: 70px;
  border-radius: 50%;
  transition: 0.3s;
}

/*HEADER*/
.navbar {
  background-color: white;
  justify-content: center;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.offcanvas-header {
  justify-content: right;
}

.nav-link {
  padding: 0;
  font-size: 20px;
  font-weight: bold;
}

.offcanvas-body {
  padding: 0px 20px;
}

.titulo-nav {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0;
}

.titulo-nav a {
  font-size: 25px;
  font-weight: bold;
}

.container-fluid img {
  width: 50px;
}

/*INDEX*/
.fondo-index-fixed {
  width: 100%;
  height: 770px;
  background-image: url("../img/the-dark-side-of-the-moon.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.div-main {
  background-color: black;
}

.index-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.index-contenido h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 80px;
  font-weight: bold;
  padding-top: 15px;
  background-color: rgb(0, 0, 0);
  font-family: "Questrial", sans-serif;
}
.index-contenido p {
  border-radius: 10px;
  margin: 35px 50px;
  padding: 15px;
  color: white;
  font-size: 35px;
  background-color: rgb(25, 25, 25);
  text-align: center;
}
.index-contenido-video {
  border: 3px solid rgb(25, 25, 25);
  border-radius: 10px;
}

iframe {
  width: 900px;
  height: 500px;
}

/*PINK FLOYD*/
.fondo-pinkFloyd-fixed {
  background-color: rgb(0, 0, 0);
  background-image: url("../img/fondo-rainbow.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.pinkFloyd {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  width: 100%;
  gap: 50px;
  color: white;
  background-color: black;
}
.pinkFloyd-dato {
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
  height: auto;
  padding: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  width: 90%;
}
.pinkFloyd-dato img {
  height: 350px;
  object-fit: cover;
}
.pinkFloyd-dato:nth-child(2n) {
  flex-direction: row-reverse;
}
.pinkFloyd-dato-texto p {
  font-size: 35px;
  text-align: left;
  margin-bottom: 0;
}
.pinkFloyd-dato-texto h3 {
  font-size: 45px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
}

.titulo-pinkFloyd {
  padding-top: 76px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  background-color: black;
}
.titulo-pinkFloyd h1 {
  font-size: 80px;
  text-shadow: 0 0 10px white;
  margin: 0;
  font-weight: bold;
}

.subtitulo-pinkFloyd {
  font-size: 70px;
  text-align: center;
  padding-top: 15px;
  color: white;
  text-shadow: 0px 0px 20px black;
  font-weight: bold;
  margin: 0;
}

/*PINK FLOYD - INTEGRANTES*/
.integrantes {
  margin-top: 35px;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.integrantes h4 {
  font-size: 45px;
  padding: 5px 0px;
  font-weight: bold;
  margin-bottom: 0;
}
.integrantes p {
  font-size: 30px;
}
.integrantes-contenedor {
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
  padding: 20px;
  width: 540px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0px 50px 75px 50px;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}
.integrantes-contenedor img {
  width: 100%;
  border-radius: 10px;
}
.integrantes-contenedor p {
  margin-bottom: 0;
}
.integrantes-syd {
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
  padding: 20px;
  width: 1040px;
  height: auto;
  text-align: left;
  display: inline-block;
  margin: 0px 50px 75px 50px;
}
.integrantes-syd img {
  width: 1000px;
  border-radius: 10px;
}
.integrantes-syd p {
  margin: 0;
}

/*PINK FLOYD - GALERIA*/
.galeria-pinkFloyd {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 500px);
  gap: 15px;
  padding: 50px;
  padding-top: 35px;
  grid-template-areas: "area1 area2 area3" "area1 area5 area3" "area4 area5 area6" "area7 area8 area8";
}

.imagen-galeria {
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px black;
}
.imagen-galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.imagen1 {
  grid-area: area1;
}

.imagen2 {
  grid-area: area2;
}

.imagen3 {
  grid-area: area3;
}

.imagen4 {
  grid-area: area4;
}

.imagen5 {
  grid-area: area5;
}

.imagen6 {
  grid-area: area6;
}

.imagen7 {
  grid-area: area7;
}

.imagen8 {
  grid-area: area8;
}

/*ALBUMES*/
.fondo-albumes-fixed {
  background-color: rgb(0, 0, 0);
  background-image: url("../img/fondo-rainbow.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.carrusel-albumes {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin-bottom: 80px;
}

.carousel {
  width: 90%;
  border: solid 10px #252525;
}
.carousel-caption {
  padding: 0;
  background-color: rgba(25, 25, 25, 0.5);
}
.carousel-caption h5 {
  font-size: 30px;
  margin: 0;
  padding: 5px;
}

.subtitulo-albumes {
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 70px;
  text-align: center;
  color: rgb(25, 25, 25);
  font-weight: bold;
  padding: 20px 0;
  margin: 0;
  margin-top: 10px;
  text-shadow: 0px 0px 5px;
}

.titulo-albumes {
  display: flex;
  flex-direction: column;
  padding-top: 76px;
  width: 100%;
  color: white;
  text-align: left;
}
.titulo-albumes h1 {
  font-size: 80px;
  padding: 20px 0px;
  padding-left: 50px;
  margin: 0;
  font-weight: bold;
}

.albumes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap: 50px;
  padding-bottom: 35px;
}
.albumes h3 {
  font-size: 40px;
}
.albumes p {
  font-size: 30px;
}
.albumes-item {
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: white;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  gap: 20px;
  /*album foto a la derecha*/
}
.albumes-item p {
  margin: 0;
}
.albumes-item h3 {
  font-weight: bold;
  margin-bottom: 0;
}
.albumes-item img {
  width: 300px;
  height: 300px;
}
.albumes-item a p {
  display: inline-block;
  font-size: 25px;
  padding-top: 10px;
  font-weight: normal;
  transition: 0.3s;
}
.albumes-item:nth-child(2n) {
  flex-direction: row;
}
.albumes-item-texto {
  width: 100%;
  height: 300px;
  text-align: left;
}

/*HISTORIA*/
.historia {
  background-color: rgb(0, 0, 0);
  background-image: url("../img/fondo-rainbow.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.historia-curiosidades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.historia-curiosidades-item {
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #252525;
  border-radius: 10px;
  padding: 20px;
  margin: 0px 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}
.historia-curiosidades-item h4 {
  padding-top: 15px;
  font-size: 30px;
  margin: 0;
  font-weight: bold;
}
.historia-curiosidades-item p {
  padding-top: 5px;
  font-size: 25px;
  text-align: center;
  margin: 0;
}
.historia-curiosidades-item img {
  width: 500px;
  border-radius: 10px;
}

.introHistoria {
  display: inline-block;
  margin-top: 60px;
  width: 100%;
  color: white;
}
.introHistoria h1 {
  text-align: right;
  font-size: 80px;
  padding: 20px;
  background-color: black;
  margin-bottom: 0;
  font-weight: bold;
}
.introHistoria p {
  background-color: rgb(25, 25, 25);
  margin: 20px;
  padding: 20px;
  font-size: 40px;
  border-radius: 10px;
  text-align: center;
}
.introHistoria-img {
  width: 100%;
}

.subtitulo-historia {
  font-size: 70px;
  text-align: center;
  color: white;
  padding: 20px 0;
  margin-bottom: 0;
  font-weight: bold;
}
.subtitulo-historia-canciones {
  width: 100%;
  font-size: 70px;
  text-align: center;
  color: white;
  padding-bottom: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.canciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-bottom: 35px;
}
.canciones h3 {
  font-size: 40px;
}
.canciones p {
  font-size: 30px;
}
.canciones-item {
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: white;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  gap: 20px;
}
.canciones-item-txt p {
  margin: 0;
}
.canciones-item-txt h3 {
  font-weight: bold;
  margin-bottom: 0;
}
.canciones-item img {
  width: 300px;
  height: 300px;
}
.canciones-item:nth-child(2n) {
  flex-direction: row;
}

/*CONTACTO*/
.fondo-contacto-fixed {
  background-image: url("../img/fondo-contacto.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}

.titulo-contacto {
  text-align: center;
  background-color: rgba(25, 25, 25, 0.8);
}
.titulo-contacto h1 {
  display: inline-block;
  margin-top: 75px;
  margin-bottom: 0;
  padding: 20px;
  padding-bottom: 15px;
  color: white;
  font-size: 80px;
  font-weight: bold;
}
.titulo-contacto p {
  text-align: center;
  font-size: 50px;
  padding: 20px;
  padding-top: 0;
}

/*FORMULARIOS*/
.form {
  display: flex;
  flex-direction: column;
  background-color: rgba(25, 25, 25, 0.8);
  width: 700px;
  height: auto;
  margin-top: 20px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 5px;
}
.form-datos p {
  text-align: left;
  font-size: 40px;
  margin-bottom: 10px;
}
.form-datos label {
  width: 20%;
}
.form-datos input {
  width: 50%;
}
.form-album p {
  text-align: left;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.form-cancion p {
  text-align: left;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.form-coment p {
  text-align: left;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.form-coment-box {
  padding-top: 8px;
  font-size: 20px;
}
.form-coment-box textarea {
  width: 100%;
  height: 200px;
  resize: none;
  font-size: 30px;
  border-radius: 5px;
}
.form-botones {
  padding-top: 15px;
  display: flex;
  gap: 15px;
  justify-content: right;
}
.form-botones button {
  font-size: 20px;
  color: black;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  transition: 0.4s;
}
.form-botones button:hover {
  background-color: black;
  color: white;
}

fieldset {
  border: none;
}

.form-cancion-sector, .form-album-sector, .form-datos-sector {
  text-align: left;
  padding: 0px 20px;
}

.form-datos-sector-input, .form-cancion-sector-radio, .form-album-sector-radio {
  padding: 8px 0px;
  font-size: 25px;
  border-radius: 5px;
}

input, textarea {
  font-size: 15px;
  color: black;
}

@media (max-width: 480px) {
  /*media-header*/
  .navbar {
    height: 60px;
  }
  .navbar-toggler {
    height: 30px;
    width: 30px;
    padding: 2px;
  }
  .navbar-toggler-icon {
    width: 20px;
    height: 20px;
  }
  .titulo-nav a {
    font-size: 20px;
  }
  .titulo-nav img {
    height: 25px;
    width: 25px;
    object-fit: cover;
  }
  /*media-footer*/
  .footer-listas {
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    align-items: center;
  }
  .footer-listas li {
    margin: 0px;
  }
  .footer-listas h3 {
    text-align: center;
  }
  .footer-listas-internas h4 {
    text-align: center;
  }
  /*media-index*/
  .fondo-index-fixed {
    background-image: url("../img/fondo-index-mobile.png");
    height: 600px;
  }
  iframe {
    width: 80%;
    height: 200px;
  }
  .index-contenido {
    gap: 20px;
  }
  .index-contenido h1 {
    font-size: 35px;
    padding: 0;
    margin-bottom: 0;
  }
  .index-contenido p {
    margin: 0;
    border-radius: 0;
    font-size: 20px;
  }
  /*media-pinkFloyd*/
  .titulo-pinkFloyd {
    margin: 0;
    padding-top: 60px;
  }
  .titulo-pinkFloyd h1 {
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .pinkFloyd {
    gap: 30px;
    padding-top: 10px;
    margin-bottom: 20px;
  }
  .pinkFloyd-dato {
    width: 90%;
    padding-top: 10px;
  }
  .pinkFloyd-dato img {
    width: 100%;
  }
  .pinkFloyd-dato h3 {
    font-size: 35px;
    padding-bottom: 5px;
    text-align: center;
  }
  .pinkFloyd-dato p {
    font-size: 20px;
    text-align: justify;
  }
  .pinkFloyd-dato:nth-child(1n) {
    flex-direction: column;
  }
  .integrantes {
    margin-top: 15px;
    margin-bottom: 20px;
    gap: 30px;
  }
  .integrantes-contenedor {
    width: 90%;
    margin: 0;
  }
  .integrantes-contenedor h4 {
    font-size: 35px;
    text-align: center;
  }
  .integrantes-contenedor p {
    font-size: 20px;
    text-align: justify;
  }
  .integrantes-contenedor img {
    width: 100%;
  }
  .integrantes-syd {
    width: 90%;
    margin: 0;
  }
  .integrantes-syd h4 {
    font-size: 35px;
    text-align: center;
  }
  .integrantes-syd p {
    font-size: 20px;
    text-align: justify;
  }
  .integrantes-syd img {
    width: 100%;
  }
  .subtitulo-pinkFloyd {
    padding: 0;
    font-size: 55px;
  }
  .fondo-pinkFloyd-fixed {
    background-image: url("../img/fondo-pinkFloyd-mobile.png");
  }
  .galeria-pinkFloyd {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
  }
  .imagen-galeria {
    box-shadow: none;
    width: 90%;
  }
  /*media-albumes*/
  .fondo-albumes-fixed {
    background-image: url("../img/fondo-pinkFloyd-mobile.png");
  }
  .carrusel-albumes {
    margin-bottom: 30px;
    height: auto;
  }
  .carousel-control-next, .carousel-control-prev {
    width: 25%;
  }
  .carousel-caption h5 {
    font-size: 20px;
  }
  .carousel-item img {
    height: 300px;
    object-fit: cover;
  }
  .carousel {
    height: auto;
    align-items: center;
  }
  .subtitulo-albumes {
    padding: 15px;
    font-size: 45px;
  }
  .albumes {
    gap: 35px;
  }
  .albumes-item {
    flex-direction: column;
    margin: 0;
    padding: 15px;
    gap: 15px;
  }
  .albumes-item h3 {
    font-size: 35px;
    text-align: center;
  }
  .albumes-item p {
    font-size: 20px;
    text-align: justify;
  }
  .albumes-item:nth-child(1n) {
    flex-direction: column-reverse;
  }
  .albumes-item-texto {
    height: auto;
    text-align: center;
  }
  .albumes-item-texto a p {
    font-size: 25px;
    padding-top: 15px;
  }
  .titulo-albumes {
    padding-top: 0;
  }
  .titulo-albumes h1 {
    width: 100%;
    font-size: 50px;
    padding: 20px 0px;
    margin-top: 60px;
    text-align: center;
  }
  /*media-historia*/
  .introHistoria {
    margin-top: 60px;
  }
  .introHistoria h1 {
    font-size: 50px;
    text-align: center;
  }
  .introHistoria p {
    font-size: 20px;
    text-align: justify;
    margin: 0;
    border-radius: 0;
    padding: 15px;
  }
  .introHistoria-img {
    height: 300px;
    object-fit: cover;
  }
  .subtitulo-historia {
    font-size: 45px;
    padding-bottom: 10px;
  }
  .subtitulo-historia-canciones {
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .historia {
    background-image: url("../img/fondo-pinkFloyd-mobile.png");
  }
  .historia-curiosidades {
    gap: 35px;
  }
  .historia-curiosidades-item {
    width: 90%;
    margin: 0;
    padding: 15px;
  }
  .historia-curiosidades-item img {
    width: 100%;
  }
  .historia-curiosidades-item h4 {
    font-size: 25px;
  }
  .historia-curiosidades-item p {
    font-size: 20px;
  }
  .canciones {
    gap: 35px;
  }
  .canciones-item {
    flex-direction: column;
    margin: 0;
    padding: 15px;
    gap: 15px;
  }
  .canciones-item:nth-child(1n) {
    flex-direction: column-reverse;
  }
  .canciones-item-txt h3 {
    font-size: 35px;
    text-align: center;
  }
  .canciones-item-txt p {
    font-size: 20px;
    text-align: justify;
  }
  /*media-contacto*/
  .fondo-contacto-fixed {
    background-image: url("../img/fondo-pinkFloyd-mobile.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .form {
    width: 95%;
    margin: 0;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 35px;
  }
  .form p {
    font-size: 30px;
  }
  .form-coment-box {
    padding: 0;
  }
  .form-coment-box textarea {
    font-size: 19px;
    height: 150px;
  }
  .titulo-contacto {
    text-align: center;
    background-color: rgba(25, 25, 25, 0.8);
    margin: 0;
  }
  .titulo-contacto h1 {
    font-size: 60px;
    padding: 0;
    padding-top: 15px;
    margin-top: 60px;
    font-weight: bold;
  }
  .titulo-contacto p {
    padding: 15px;
    margin: 0;
    font-size: 30px;
  }
  .form-datos-sector-input, .form-cancion-sector-radio, .form-album-sector-radio {
    font-size: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
