/*HEADER*/
.navbar {
  background-color: white;
  justify-content: center;
  z-index: 1;
  &-nav {
    display: flex;
    flex-direction: column;
    gap: 25px ;
  }
}

.offcanvas-header {
  justify-content: right;
}

.nav-link {
  padding: 0;
  font-size: 20px;
  font-weight: bold;
}

.offcanvas-body {
  padding: 0px 20px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  p {
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin: 0;
  }
}

.container-fluid {
  img {
    width: 50px;
  }
} 

