* {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
  box-sizing: border-box;
  color: white;
}
  
body {
  background-color: rgb(0, 0, 0);
  line-height: normal;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}